.bg-fizz {
  background-color: #05485e ;  
}

.box {
    width: 150px;
    height: 150px;
    background-color: #1389b2;
}

.green {
    background-color: #0cd6a1;
}

.yellow {
    background-color: #ffd166;
}

.red {
    background-color: #f0466f;
}

